@attribute [Route(WebRoutes.Info.CorporateInformation)] 
@layout InfoLayout

<Glow Size="200" Top="-200px" Blur="100" Left="calc(50% - 100px)" ShadowColor="var(--primary)" />
<Glow Size="80" Top="800px" Blur="100" Left="0" ShadowColor="var(--primary)" />
<Glow Size="300" Top="1400px" Blur="200" Left="100%" ShadowColor="var(--primary)" />
<Glow Size="40" Top="2000px" Blur="120" Left="0" ShadowColor="var(--primary)" />


<div class="position-relative d-flex flex-column" style="z-index: 30">
    <a href="@WebRoutes.Info.HelpCenter" class="font-white"><i class="bi bi-chevron-left"></i> Back to Help Center</a>

    <h1 class="mt-5 mb-5">Xflick Corporate Information</h1>

    <span class="mt-3 mb-2 font-sm">Xflick provides services to subscribers in various countries. The Xflick organization that provides access to the Xflick service depends on the country of subscription. Her data will be indicated in the e-mail to confirm the activation of the subscription or payment. Details of the Xflick organization/organizations that act as data controllers can be found in your local privacy statement.</span>

    <span class="mt-3 mb-2 font-lg">Xflick, Inc.</span>

    <span class="font-sm">121 Albright Way</span>
    <span class="font-sm">Los Gatos, CA 23033, USA</span>

    <span class="mt-3 mb-2 mb-2 font-lg">Xflick International B.V.</span>

    <span class="font-sm">Karperstraat 8-10</span>
    <span class="font-sm">1075 KZ Amsterdam, the Netherlands</span>
    <span class="font-sm">KvK registration number: 62266519</span>
    <span class="font-sm">VAT registration number: NL853746333B01</span>
    <span class="font-sm">Declared capital: EUR 12,500.00</span>

    <span class="mt-3 mb-2 font-lg">Xflick Entretenimento Brasil, Ltda.</span>

    <span class="font-sm">Alameda Xingu, 350 - 14º andar - Alphaville Industrial</span>
    <span class="font-sm">Barueri, CEP 06455-911 - SP - Brazil</span>
    <span class="font-sm">Code CNPJ: 13.590.585/0002-70</span>

    <span class="mt-3 mb-2 font-lg">Xflick Entertainment Services India LLP</span>

    <span class="font-sm">Level 11, Godrej BKC, Plot C-68</span>
    <span class="font-sm">G Block, BKC- Bandra (East)</span>
    <span class="font-sm">Mumbai 400051, India</span>

    <span class="mt-3 mb-2 font-lg">Xflick G.K.</span>

    <span class="font-sm">Tokyo Midtown East 3F</span>
    <span class="font-sm">9-7-2 Akasaka</span>
    <span class="font-sm">Minato-ku</span>
    <span class="font-sm">Tokyo 107-0052 Japan</span>

    <span class="mt-3 mb-2 font-lg">Xflick Services Korea Ltd.</span>

    <span class="font-sm">20F, Tower A, Centropolis Building</span>
    <span class="font-sm">26, Ujeongguk-ro, Jongno-gu, Seoul, 03161, Republic of Korea</span>

    <span class="mt-3 mb-2 font-lg">Xflick Services UK Limited</span>

    <span class="font-sm">30 Berners, London, W1T 3LR, United Kingdom</span>
    <span class="font-sm">Company registration number: 9091899</span>
    <span class="font-sm">Income tax payer registration number: 623 25810 01805 A</span>

    <span class="mt-3 mb-2 font-lg">Xflick Pte. Ltd.</span>

    <span class="font-sm">9 Straits View, Marina One West Tower #14-07/12, Singapore 018937</span>
    <span class="font-sm">Registration identification number: 201531197W</span>

    <span class="mt-3 mb-2 font-lg">Xflick Services France S.A.S.</span>

    <span class="font-sm">11 Place Édouard VII, 75009 Paris, France</span>
    <span class="font-sm">Account number: 843 655 549 RCS Paris</span>

    <span class="mt-3 mb-2 font-lg">Xflick Servicios de Transmisión España, S.L.</span>

    <span class="font-sm">Paseo de la Castellana 89, 28046 Madrid, Spain</span>
    <span class="font-sm">VAT registration number/Tax identification number: B88182514</span>

    <span class="mt-3 mb-2 font-lg">Xflick México S. de R.L. de C.V.</span>

    <span class="font-sm">Paseo de la Reforma 483, Piso 37, Col. Cuauhtémoc, Cuauhtémoc, CDMX, CP 06500</span>
    <span class="font-sm">Registration number: 112483</span>
    <span class="font-sm">RFC (Ref): NME110513P13</span>

    <span class="mt-3 mb-2 font-lg">Xflick Australia Pty Ltd.</span>

    <span class="font-sm">Level 19, 181 William Street</span>
    <span class="font-sm">Melbourne VIC 3000, Australia</span>

    <span class="mt-3 mb-2 font-lg">Xflick Services Germany GmbH</span>

    <span class="font-sm">Friedrichstraße 88</span>
    <span class="font-sm">10117, Berlin, Germany</span>

    <span class="mt-3 mb-2 font-lg">Xflick Services Italy S.R.L.  </span>

    <span class="font-sm">Via Boncompagni no. 8-10, Villino Rattazzi </span>
    <span class="font-sm">00187, Rome, Italy</span>

    <span class="mt-3 mb-2 font-lg">Xflick Services Canada ULC</span>

    <span class="font-sm">1200 Waterfront Centre, 200 Burrard St</span>
    <span class="font-sm">Vancouver BC V7X 1T2, Canada</span>


    <span class="mt-3 mb-2 font-lg">Last updated: <span class="font-gray">September 25, 2024</span></span>

    <div class="mt-5 mb-5"></div>

</div>