@attribute [Route(WebRoutes.Info.InvestorRelations)]
@layout InfoLayout

<Glow Size="200" Top="-200px" Blur="100" Left="calc(50% - 100px)" ShadowColor="var(--primary)" />
<Glow Size="50" Top="700px" Blur="80" Left="0" ShadowColor="var(--primary)" />

<div class="position-relative d-flex flex-column" style="z-index: 30">
	<a href="@WebRoutes.Info.HelpCenter" class="font-white"><i class="bi bi-chevron-left"></i> Back to Help Center</a>

	<div class="row mt-5">
		<div class="col-md-6">
			<h2>Company profile</h2>
			<p class="mt-2 font-sm">
				Xflick is one of the world's leading entertainment services with more than 260 million paid subscribers in more than 190 countries who enjoy TV shows, movies and games in a wide variety of genres and languages. Users can play, pause and resume as much as they want, anytime, anywhere, and can change their plans at any time.
			</p>
		</div>
		<div class="col-md-6 d-flex flex-column align-items-start align-items-md-end">
			<span>NASDAQ: XFLK</span>
			<h3 class="my-1">$588.47</h3>
			<span>+15.12 ( 2.64% )</span>
			<span>Amount: 3,524,180</span>
			<span class="mt-2 font-gray font-sm">Pricing is delayed for @((int)(DateTime.Now - new DateTime(2024, 02, 22)).TotalMinutes) minutes</span>
			<span class="font-gray font-sm">Last updated 02/22/24 4:00 PM</span>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-md-5">
			<h4>Events for investors</h4>
			<p class="my-0 mt-2 font-sm">Xflick Q4 2024 earnings interview</p>
			<p class="my-0 font-md">January 23, 2024 01:45 PM GMT</p>
			<div class="row mt-2">
				<div class="col-sm-6 d-flex flex-column">
					<a class="mt-1 font-sm font-primary text-decoration-underline" href="">Video interview</a>
					<a class="mt-1 font-sm font-primary text-decoration-underline" href="">Financial Statements</a>
				</div>
				<div class="col-sm-6  d-flex flex-column">
					<a class="mt-1 font-sm font-primary text-decoration-underline" href="">Letter to shareholders</a>
					<a class="mt-1 font-sm font-primary text-decoration-underline" href="">Transcript</a>
				</div>
			</div>
			<p class="my-0 mt-2 font-sm">UBS Global Conference on TMT</p>
			<p class="my-0 font-md">December 4, 2023 01:30 pm Kyiv time</p>
			<div class="row mt-2">
				<div class="col-sm-6">
					<a class="mt-1 font-sm font-primary text-decoration-underline" href="">Webcast</a>
				</div>
				<div class="col-sm-6">
					<a class="mt-1 font-sm font-primary text-decoration-underline" href="">Transcript</a>
				</div>
			</div>
		</div>
		<div class="col-md-5 d-flex flex-column mt-3 mt-md-0">
			<h4>Set for the investor</h4>
			<a class="mt-1 font-white text-decoration-underline" href="">Long-term perspective</a>
			<a class="mt-1 font-white text-decoration-underline" href="">The most common questions of investors</a>
			<a class="mt-1 font-white text-decoration-underline" href="">Overview of content accounting</a>
			<a class="mt-1 font-white text-decoration-underline" href="">The Xflick approach to corporate governance</a>
			<a class="mt-1 font-white text-decoration-underline" href="">Information about ESG Xflick</a>
		</div>
	</div>

	<div class="mt-5">
		<h2 class="text-center mb-3">Financial releases and updates</h2>
		<div class="row">
			<div class="col-md-4 mt-3 mt-md-0">
				<div class="h-100 gradient-panel-with-background p-3 d-flex flex-column justify-content-between">
					<h4>Xflick will announce financial results for the fourth quarter of 2023</h4>
					<span class="font-sm font-gray">December 15, 2024</span>
				</div>
			</div>
			<div class="col-md-4 mt-3 mt-md-0">
				<div class="h-100 gradient-panel-with-background p-3 d-flex flex-column justify-content-between">
					<h4>Xflick co-founder to speak at UBS Global TMT conference</h4>
					<span class="font-sm font-gray">November 28, 2024</span>
				</div>
			</div>
			<div class="col-md-4 mt-3 mt-md-0">
				<div class="h-100 gradient-panel-with-background p-3 d-flex flex-column justify-content-between">
					<h4>Xflick will announce financial results for the third quarter of 2023</h4>
					<span class="font-sm font-gray">September 15, 2024</span>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-5 mb-5"></div>

</div>
