@attribute [Route(WebRoutes.Info.LegalNotices)]
@layout InfoLayout

<Glow Size="200" Top="-200px" Blur="100" Left="calc(50% - 100px)" ShadowColor="var(--primary)" />
<Glow Size="150" Top="1100px" Blur="100" Left="-150px" ShadowColor="var(--primary)" />

<div class="position-relative" style="z-index: 30">
	<a href="@WebRoutes.Info.HelpCenter" class="font-white"><i class="bi bi-chevron-left"></i> Back to Help Center</a>

	<h1 class="mt-5 mb-5">Legal Notices</h1>

	<p class="mt-3">
		The Xflick Service, including all content provided by the Xflick Service, is protected by copyright, trademark, trade secret or other intellectual property laws and treaties.
	</p>

	<h3 class="mt-3">Copyright</h3>

	<p class="mt-3">
		Content on our service is copyrighted by many great producers and production companies, including Xflick. If you believe that your or someone else's copyright is being infringed through the Xflick service, please let us know by completing the copyright infringement claim form
	</p>

	<h3 class="mt-3">Trademarks</h3>

	<p class="mt-3">
		Xflick, the X logo and the "Too Doom!" are trademarks of Xflick, Inc.
	</p>
	<p class="mt-3">
		Unless you have obtained our permission, do not use the Xflick Marks as your own or in any other way that implies sponsorship or endorsement by Xflick.
	</p>
	<p class="mt-3">
		A product with the Xflick name or logo is a reflection of Xflick. Unless you are one of our licensees, we do not allow others to make, sell or give away anything with our name or logo.
	</p>

	<h3 class="mt-3">Patents</h3>

	<p class="mt-3">
		Xflick services and applications are protected by patents.
	</p>

	<h3 class="mt-3">Third Parties Notices</h3>

	<p class="mt-3">
		The Xflick Applications, Software Development Kits (SDKs) and other Xflick Products may contain software available under an open source license or a free software license ("Open Software"). The Xflick Terms of Use do not alter any rights or obligations you may have under these Open Software Licenses. For more information about open source software, including required acknowledgments, license terms, and notices, see lower.
	</p>

	<span class="mt-3 font-lg">Last updated: <span class="font-gray">September 25, 2024</span></span>

	<div class="mt-5 mb-5"></div>
</div>

