@attribute [Route(WebRoutes.Info.PrivacyPolicy)]
@layout InfoLayout

<Glow Size="200" Top="-200px" Blur="100" Left="calc(50% - 100px)" ShadowColor="var(--primary)" />
<Glow Size="150" Top="1100px" Blur="100" Left="-300px" ShadowColor="var(--primary)" />

<div class="position-relative" style="z-index: 30">
	<a href="@WebRoutes.Info.HelpCenter" class="font-white"><i class="bi bi-chevron-left"></i> Back to Help Center</a>

	<h1 class="mt-5 mb-5">Legal Notices</h1>

	<p class="mt-3">
		This Privacy Statement explains our practices, including your choices, regarding the collection, use and disclosure of certain information, including your personal data, in connection with the Xflick Service.
	</p>

	<h3 class="mt-3">How to contact us</h3>

	<p class="mt-3">
		If you have general questions about your account or how to contact customer support, please visit our Help Center: help.Xflick.com. For questions about this Privacy Statement or our use of your personal data, cookies or similar technologies, please contact our Data Protection Officer or Privacy Department by email at <a href="https://mail.google.com/mail/?view=cm&fs=1&to=xflick@xflick@ukr.net&su=SUBJECT&body=BODY&bcc=xflick@ukr.net"></a>.
	</p>
	<p class="mt-3">
		The company is the controller of your personal data. Please note that if you contact us for assistance, for your security and ours, we may need to verify your identity before we can process your request.
	</p>

	<h3 class="mt-3">Data collection</h3>

	<span class="mt-3">Below is a list of what data we collect and store about you.</span>
	<ul>
		<li>
			Data you provide to us. We collect data that you provide to us, including:
			<ul>
				<li>your name, email address, payment methods, phone number, and other identifiers you may use (such as your in-game name). We collect this information in various ways, including when you enter data while using our service, contact our support service, participate in surveys or marketing promotions.</li>
				<li>information obtained when you rate, indicate your preferences, choose account options (including settings in the "Account" section of our website) or otherwise provide us with data through our service or elsewhere.</li>
			</ul>
		</li>
		<li>
			Data we collect automatically. We collect data about you and your use of our services, your interactions with us and our advertising, and data about your network, network devices, your computer or other Xflick-compatible media through which you access our service ( for example, gaming systems, Smart TVs, mobile devices, set-top boxes and other media streaming devices). These data include:
			<ul>
				<li>information about your activities on the Xflick service (for example, title selections, watched series, searches and activities in Xflick games);</li>
				<li>details of your interactions with our emails, text messages, push notifications and online messaging channels;</li>
				<li>details of your call to support (date, time and reason for the call, records of any chat conversations, and if it's a phone call, your phone number and records of your conversations);</li>
				<li>device IDs or other unique identifiers, including your network devices (such as your router) and any Xflick-compatible media connected to your network;</li>
				<li>variable device identifiers (known as advertising identifiers) on mobile phones, tablets and streaming media devices that have such identifiers (see the section "Cookies and online advertising" below for details);</li>
				<li>device and software characteristics (e.g. type and configuration), connection information and its type (Wi-Fi, cellular network), page view statistics, login source (e.g. referral URLs), IP address (to determine location , such as city, state/region, and zip code), browser and standard web server log information;</li>
				<li>information collected through the use of cookies, web beacons, and other technologies, including advertising information (such as availability and delivery data, website URL, and date and time). For details, see in the section "Cookies and online advertising".</li>
			</ul>
		</li>
		<li>
			Data from partners. We collect data from other companies with whom you have a relationship ("Partners"). Such Partners include (depending on the servers you use): your TV or Internet service provider, other providers of streaming media devices through which you access our Service on those devices; mobile operators or other companies that provide services to you and charge you for using the Xflick service and pass it on to us or run pre-paid promotions for the Xflick service; providers of voice assistant platforms that allow you to interact with our service using voice commands. We receive various data from Partners depending on the type of their services, for example:
			<ul>
				<li>data about Xflick-related searches and commands you make through Partner devices or voice assistant platforms;</li>
				<li>information to activate the service, such as your email address or other contact details;</li>
				<li>IP addresses, device IDs or other unique identifiers, associated pre-paid promotion, payment and user interface information to help identify users, register with Xflick, process Partner payments, and promote Xflick content through Partner user interface elements.</li>
			</ul>
		</li>
		<li>
			Data from other sources. We also receive data from other sources. We protect the data we receive in accordance with the requirements of this Privacy Statement, as well as additional restrictions imposed by the source of the information. These sources change from time to time, but include:
			<ul>
				<li>service providers that help us determine your location based on your IP address in order to personalize our services or achieve other purposes consistent with this Privacy Statement;</li>
				<li>security service providers who provide us with information to protect our systems, Xflick user accounts and prevent fraudulent activity;</li>
				<li>payment service providers who provide us with payment or balance information or updates to such information based on their relationship with you;</li>
				<li>publicly available sources, such as publicly available posts on social networks or information from open databases, which make it possible to associate IP addresses with Internet service providers;</li>
				<li>third-party services you are logged into that provide Xflick gaming functionality, such as multiplayer gameplay, leaderboards, and game progress save options.</li>
			</ul>
		</li>
	</ul>

	<span class="mt-3 font-lg">Last updated: <span class="font-gray">September 25, 2024</span></span>

	<div class="mt-5 mb-5"></div>

</div>