@attribute [Route(WebRoutes.Info.TermsOfUse)]
@layout InfoLayout

<div class="position-relative d-flex flex-column" style="z-index: 30">
    <a href="@WebRoutes.Info.HelpCenter" class="font-white"><i class="bi bi-chevron-left"></i> Back to Help Center</a>

    <h1 class="mt-5 mb-5">Xflick Terms of Usen</h1>

    <p>Xflick provides a personalized subscription service that allows our users to access entertainment content ("Xflick Content") over the Internet on certain televisions, computers, and other Internet-connected devices ("Xflick App-Enabled Devices").</p>

    <p>The Xflick service is provided to you by Xflick International B.V. These Terms of Use govern your use of our service. As defined in these Terms of Use, "Xflick service", "our service" or "the service" means the personalized service provided by Xflick to find and access Xflick content, including all features and functionality, recommendations and reviews, our websites and user interfaces, as well as all content and software related to our service. The term "you" in these Terms of Use means the user who created the Xflick account and whose payment method is used to pay for the service.</p>

    <ol>
        <li>
            <spam class="font-lg">Subscription</spam>
            <ol>
                <li>Your Xflick subscription will continue until terminated. To use the Xflick service, you must have Internet access and a device that supports the Xflick application, and you must specify one or more Payment Methods. "Payment Method" means a current, valid, acceptable payment method, as may be updated from time to time, and may include payment through your Third Party Account. If you do not cancel your subscription by the payment date, you authorize us to charge your subscription fee for the next billing period to your chosen Payment Method (see "Cancellation" below).</li>
                <li>We may offer several subscription plans that include subscriptions offered by third parties along with their own services and products. We are not responsible for the products and services provided by such third parties. Some Subscription Plans may have different terms and limitations, which will be disclosed at sign-up or in other communications available to you. You can find detailed information about your Xflick subscription by visiting Xflick.com and clicking on the "Account" link located at the top of the page under your profile name.</li>
            </ol>
        </li>
        <li>
            <spam class="font-lg">Promotional offers.</spam>
            <ol>
                <li></li>
                <li>From time to time we may offer special promotional offers, plans or subscriptions ("Offers"). Eligibility for the Offer is determined by Xflick at its sole discretion, and we reserve the right to revoke the Offer and suspend your account if we determine that you are ineligible. Household members with an existing or recent subscription to Xflick may not be eligible for some introductory Offers. We may use information such as device ID, payment method or account email address used with an existing or recent Xflick subscription to determine eligibility for the Offer. Eligibility requirements and other restrictions and conditions will be disclosed at the time of registration in the Offer or in other communications made available to you.</li>
            </ol>
        </li>
        <li>
            <spam class="font-lg">Subscription</spam>
            <ol>
                <li>Calculation period. The Xflick subscription fee and any other charges you may incur in connection with your use of the service, such as taxes and possible transaction fees, will be charged to your Payment Method on the specific payment date specified on the " Account". The length of your billing period will depend on the subscription plan you selected when you signed up for the service. In some cases, your payment date may change—for example, if your Payment Method wasn't authorized when you changed your subscription plan, or if your paid subscription started on a day outside of the current month. Visit the Xflick.com website and click the "Billing Details" link on the "Account" page to see the next payment date. We may authorize your Payment Method pending payment for a subscription or related services in a variety of ways, including authorizing it for approximately one month of service immediately following your registration. If you signed up for Xflick with a third-party account as your Payment Method, you can find payment information for your Xflick subscription in your account created with the third-party resource.</li>
                <li>Payment methods. To use the Xflick service, you must specify one or more Payment Methods. If your Primary Payment Method is declined or is no longer available to pay for your subscription, you authorize us to charge any Payment Method associated with your account. You are responsible for any uncollected amounts. If a payment is not successfully made due to expiration, insufficient funds, or other reasons, and you do not cancel your account, we may suspend your access to the Service until we successfully charge the funds through a valid Payment Method. For some Payment Methods, the issuer may charge you certain fees, such as external transaction fees or other fees related to the processing of your Payment Method. Local tax charges may vary depending on the Payment Method used. Please contact your Payment Method provider for details.</li>
                <li>Updating your Payment Methods. You can update your Payment Methods on the Account page. We may also update your Payment Methods using information provided by payment service providers. After any update, you authorize us to continue charging the applicable Payment Methods.</li>
                <li>Abolition. You can cancel your Xflick subscription at any time and you will have access to the Xflick service until the end of the billing period. To the extent permitted by applicable law, payments are non-refundable and we do not provide refunds or credits for any partial subscription periods or Xflick content that you have not used. To cancel your subscription, go to your Account page and follow the cancellation instructions. If you cancel your subscription, your account will automatically close at the end of your current billing period. To see when your account will be closed, click "Billing Details" on the "Account" page. If you signed up for Xflick using your third-party account as a Payment Method and wish to cancel your Xflick subscription, you will need to do so through that third-party resource, such as by visiting the applicable third-party account and turning off auto-renew or unsubscribing from the Xflick service at third party resource.</li>
                <li>Changes to prices and subscription plans. We may change our subscription plans and the prices of our service from time to time. We will notify you at least one month before any changes to prices or your subscription plan take effect. If you do not wish to accept a price or subscription plan change, you may cancel your subscription before the changes take effect.</li>
            </ol>
        </li>
        <li>
            <spam class="font-lg">Xflick service</spam>
            <ol>
                <li>To subscribe to the Xflick Service, you must be at least 18 years of age or have reached the legal age of majority in your region, territory or country. Minors can use the service only under the supervision of an adult.</li>
                <li>The Xflick Service and any content accessed through the Service is intended solely for your personal, non-commercial use and may not be shared with anyone outside of your household, except as otherwise provided in the terms of your subscription plan. During the term of your subscription to Xflick, we grant you a limited, non-exclusive, non-transferable right to access the Xflick Service and Xflick Content. Except as set forth above, no right, title or interest is transferred to you. You agree not to use the service for public display.</li>
                <li>You can access Xflick content primarily in the country in which you created your account and only in the geographic regions where we offer our service and have licensed such content. Available content will vary by geographic location and may change from time to time. The number of devices you can watch Xflick on at the same time depends on the subscription plan you choose and is listed on your Account page.</li>
                <li>The Xflick Service, including the Content Library, is constantly being updated and we may offer you live events or special editions (including replays of such content) or introduce new features. Such content or new features may contain commercial breaks or other promotional messages. Xflick does not endorse or sponsor any of the advertised products or services, and you are solely responsible for any interactions you may have with advertisers, including participation in interactive ads. We also constantly test various aspects of our service, including our websites, user interfaces and advertising features. You can opt out of testing participation at any time by visiting your Account page and changing your Testing Participation settings.</li>
                <li>Some Xflick Content is available for temporary download and offline viewing on certain supported devices ("Offline Content"). There are limits, which include limits on: the amount of Offline Content per account; the maximum number of devices on which Offline Content can be stored; the amount of time you will need to start viewing the Offline Content; and the length of time the Offline Content will remain available. Some Offline content may not play in certain countries. If you access such content in a country where this Offline Content cannot be viewed, it will not play while you are in that country.</li>
                <li>
                    <span>You agree to use the Xflick service, including all related features and functionality, in accordance with applicable laws, rules and regulations, and other restrictions imposed on the use of the service or its content. Except as expressly provided by us, you agree to:</span>
                    <ol>
                        
                    </ol>
                </li>
            </ol>
        </li>

    </ol>



</div>