@inject NavigationManager NavigationManager

<InputSelect 
	Value="@Count" 
	ValueExpression="() => Count" 
	ValueChanged="(int value) => OnValueChanged(value)"
	class="input-glass h-100"
	>
	@foreach(var option in Options)
	{
		<option value="@option">@option</option>
	}
</InputSelect>


@code {

	[Parameter]
	public IEnumerable<int> Options { get; set; } = [10, 25, 50];

	[SupplyParameterFromQuery]
	private int Count { get; set; } = default;

	protected override void OnInitialized()
	{
		if (Count == default)
			Count = Options.FirstOrDefault();

		StateHasChanged();
	}

	private void OnValueChanged(int value)
	{
		Count = value;
		NavigationManager.NavigateTo($"{NavigationManager.GetCurrentPage()}?count={value}", true);
	}
}
