
<div class="footer">
	<div class="container py-3">
		<span>Have a question? Call 0800-509-416 </span>
		<div class="row mt-3">
			<div class="col-md-3">
				<ul class="navbar-nav">
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Questions
						</a>
					</li>
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Investor relations
						</a>
					</li>
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Privacy
						</a>
					</li>
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Speed ​​check
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="navbar-nav">
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Reference center
						</a>
					</li>
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Vacancies
						</a>
					</li>
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Cookie settings
						</a>
					</li>
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Legal notices
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="navbar-nav">
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Account
						</a>
					</li>
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Viewing methods
						</a>
					</li>
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Corporate information
						</a>
					</li>
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Only on Logo
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="navbar-nav">
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Media center
						</a>
					</li>
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Terms of use
						</a>
					</li>
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Contact us
						</a>
					</li>
					<li class="mt-2">
						<a href="/" class="font-white font-sm">
							Home
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>