
<nav class="navbar navbar-expand-lg dark-bg-on-mobile">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="img/logo.svg" />
        </a>
        <button class="navbar-toggler btn btn-outline-primary rounded-corners" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse px-2" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 m-auto">
                <li class="nav-item mx-3">
                    <a href="/" class="nav-link font-white font-sm">Home</a>
                </li>
                <li class="nav-item mx-3">
                    <a href="/" class="nav-link font-white font-sm">Series</a>
                </li>   
                <li class="nav-item mx-3">
                    <a href="/" class="nav-link font-white font-sm">Films</a>
                </li>
                <li class="nav-item mx-3">
                    <a href="/" class="nav-link font-white font-sm">New & Popular</a>
                </li>
                <li class="nav-item mx-3">
                    <a href="/" class="nav-link font-white font-sm">My List</a>
                </li>
                <li class="nav-item mx-3">
                    <a href="/" class="nav-link font-white font-sm">Watch via languages</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown mx-3">
                    <a class="nav-link font-white dropdown-toggle font-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-center">
                        <li><a class="dropdown-item" href="#">Account</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                        <li><a class="dropdown-item" href="#">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                @{
                    //<input class="form-control me-2 form-control rounded-corners back-dark border-primary font-sm font-gray" type="search" placeholder="Search" aria-label="Search">
                }
                
                <button class="btn" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>