

@if (IsOpened)
{
	<div class="full-screen" @onclick="() => Close()">
		@ChildContent
	</div>
}


@code {

	[Parameter]
	public RenderFragment ChildContent { get; set; } = default!;

	private bool IsOpened { get; set; } = false;

	public void Open()
	{
		IsOpened = true;
		StateHasChanged();
	}

	public void Close()
	{
		IsOpened = false;
		StateHasChanged();
	}
}