
<div class="d-flex flex-column">

	<div class="d-flex justify-content-center align-items-center">
		<img src="/img/four-left.svg" class="in-front four-left" />

		<div class="outer-circle">
			<div class="inner-circle">
				<img src="/img/pause.svg" class="pause" />
			</div>
		</div>

		<img src="/img/four-right.svg" class="in-front four-right" />
	</div>

	<div class="d-flex flex-column justify-content-center align-items-center">
		<h1 role="alert" class="mt-2 text-center">Oops! Page not found</h1>
		<a href="/" class="button button-fit p-2 font-white mt-2">Return to Home Page</a>
	</div>
</div>