
<div>
	<div class="player">
		<video class="video">
			<source src="/video/Death by a Thousand Cuts.mp4" />
		</video>
	</div>
	<div class="player-controls">
		<div class="controls-progress">
			<span class="font-sm playback-time">20:20</span>
			<progress class="player-progress" value="10" max="100"></progress>
			<span class="font-sm playback-time">20:20</span>
		</div>
	</div>
</div>


@code {

}
