@implements IAsyncDisposable

@using Domain.Entities

@inject IJSRuntime JS
@inject NavigationManager NavigationManager

@if (Selected is null)
{
	<span class="font-md">No series to watch :(</span>
	return;
}

<div class="d-flex mb-2">
	@foreach (var dubbing in Series.GroupBy(x => x.Dubbing))
	{
		if (SelectedDubbing.Equals(dubbing.Key))
		{
			<span @onclick="() => SelectedDubbing = dubbing.Key" class="mx-3 user-select-none selected-dubbing">@dubbing.Key</span>
		}
		else
		{
			<span @onclick="() => SelectedDubbing = dubbing.Key" class="mx-3 user-select-none">@dubbing.Key</span>
		}
	}
</div>

<div id="container" class="video-player-container">
	<div class="series-select-panel">
		<div class="series-list">
			@foreach (var series in ActiveSeries.OrderBy(x => x.Index))
			{
				<button @onclick='() => SelectSeriesAsync(series)' class="button-glass series-select-button">@series.Name</button>
			}
		</div>
	</div>
	<div id="player" class="player">
		<video id="video" class="video" src="@Selected.Uri">
		</video>
	</div>
	<div class="player-controls">
		<div class="controls-progress">
			<span id="span-current-time" class="font-sm playback-time">00:00</span>

			<div id="video-timeline" class="progress player-progress">
				<div id="progress-bar" class="progress-bar player-progress-bar" role="progressbar" style="width: 0%;"></div>
				<span id="span-progress-time" class="progress-time">20:20:20</span>
			</div>

			<span id="span-duration" class="font-sm playback-time">00:00</span>
		</div>
		<div class="controls-playback row">
			<div class="col-6 col-lg-4 d-flex align-items-center justify-content-start">
				<a id="button-back">
					<img src="/img/player-arrow-back.svg" class="button-icon" />
				</a>
				<a id="button-play">
					<img id="control-icon" src="/img/player-play.svg" class="button-icon" />
				</a>
				<a id="button-forward">
					<img src="/img/player-arrow-forward.svg" class="button-icon" />
				</a>
				<div class="controls-volume">
					<a id="button-mute">
						<img id="control-volume-icon" src="/img/player-sound-high.svg" class="button-icon" />
					</a>
					<input id="input-volume" class="" type="range" min="0" max="1" step="any" />
				</div>
			</div>
			<div class="d-none d-lg-flex col-lg-4 align-items-center justify-content-center">
				<span class="font-sm">@Selected?.Name</span>
			</div>
			<div class="col-6 col-lg-4 d-flex align-items-center justify-content-end">
				<a id="button-fullscreen">
					<img src="/img/player-fullscreeb.svg" class="button-icon" />
				</a>
			</div>
		</div>
	</div>
</div>

@code {

	public Series Selected { get; private set; } = default!;

	public string SelectedDubbing { get; private set; } = string.Empty;

	[SupplyParameterFromQuery]
	public Guid SeriesId { get; set; } = default;

	[SupplyParameterFromQuery]
	public float Progress { get; set; } = 0;

	[Parameter]
	public List<Series> Series { get; set; } = new();

	[Parameter]
	public IEnumerable<Series> ActiveSeries { get; set; } = Enumerable.Empty<Series>();

	[Parameter]
	public Func<Series, float, Task> OnLeaveSeries { get; set; } = default!;

	[Parameter]
	public Func<Task> OnPlaybackStarted { get; set; } = default!;

	[Parameter]
	public Func<Task> OnPlaybackStoped { get; set; } = default!;

	[Parameter]
	public Func<float, Task> OnProgressChanged { get; set; } = default!;

	[Parameter]
	public Func<Series, Task> OnSeriesChanged { get; set; } = default!;

	[Parameter]
	public Func<Task> BeforeUnload { get; set; } = default!;

	protected override async Task OnInitializedAsync()
	{
		var series = Series.FirstOrDefault(x => x.Id == SeriesId);

		if (series is null)
			series = Series.OrderBy(x => x.Index).FirstOrDefault();

		Selected = series;
		SelectDubbingFromSeries(Selected);
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			if (Selected is null)
				return;

			await InitializePlayer();

			if (Progress > 1)
				Progress /= 100;

			await SetPlayerRetrievedProgress();
		}
	}

	public async ValueTask DisposeAsync()
	{
		await RaiseOnLeaveSeries();
	}

	private async Task RaiseOnLeaveSeries()
	{
		if (Selected is null)
			return;

		OnLeaveSeries?.Invoke(Selected, Progress);
	}

	private async Task SelectSeriesAsync(Series value, bool notifyChanged = true)
	{
		if (value == Selected)
			return;

		await RaiseOnLeaveSeries();
		Selected = value;
		SelectDubbingFromSeries(Selected);

		if (notifyChanged)
			OnSeriesChanged?.Invoke(Selected);

		await SaveProgress(0);
		await ChangePlayerSource(Selected.Uri);

		StateHasChanged();
	}

	private void SelectDubbingFromSeries(Series? series)
	{
		if (series is null)
		{
			SelectedDubbing = string.Empty;
			ActiveSeries = Enumerable.Empty<Series>();
			return;
		}

		SelectedDubbing = series.Dubbing;
		ActiveSeries = Series.Where(x => x.Dubbing.Equals(SelectedDubbing));
	}

	public async Task InitializePlayer()
	{
		await JS.InvokeVoidAsync("initializePlayer", DotNetObjectReference.Create(this));
	}

	public async Task ChangePlayerSource(string url)
	{
		await JS.InvokeVoidAsync("changePlayerSource", url);
	}

	public async Task SetPlayerRetrievedProgress()
	{
		await JS.InvokeVoidAsync("setRetrievedProgress", Progress);
	}

	public async Task SetProgress(float value)
	{
		await JS.InvokeVoidAsync("setProgress", value);
	}

	public async Task<float> GetProgress()
	{
		return await JS.InvokeAsync<float>("getProgress");
	}

	public async Task Play(bool notifyChanged = true)
	{
		Console.WriteLine("Invoking play from dotnet");
		await JS.InvokeVoidAsync("play", notifyChanged);
	}

	public async Task Stop(bool notifyChanged = true)
	{
		await JS.InvokeVoidAsync("stop", notifyChanged);
	}

	public async Task<bool> IsPlaying()
	{
		return await JS.InvokeAsync<bool>("isPlaying");
	}

	public async Task<bool> IsReady()
	{
		return await JS.InvokeAsync<bool>("isReady");
	}

	public async Task ChangeSeries(Guid id, bool notifyChanged = true)
	{
		if (Selected.Id == id)
			return;

		var series = Series.FirstOrDefault(x => x.Id == id);

		if (series is null)
			return;

		await SelectSeriesAsync(series, notifyChanged);
	}

	[JSInvokableAttribute(nameof(SaveProgress))]
	public Task SaveProgress(float value)
	{
		Progress = value;
		return Task.CompletedTask;
	}

	[JSInvokableAttribute(nameof(NotifyPlaybackStarted))]
	public Task NotifyPlaybackStarted()
	{
		OnPlaybackStarted?.Invoke();
		return Task.CompletedTask;
	}

	[JSInvokableAttribute(nameof(NotifyPlaybackStoped))]
	public Task NotifyPlaybackStoped()
	{
		OnPlaybackStoped?.Invoke();
		return Task.CompletedTask;
	}

	[JSInvokableAttribute(nameof(NotifyProgressChanged))]
	public Task NotifyProgressChanged(float value)
	{
		OnProgressChanged?.Invoke(value);
		return Task.CompletedTask;
	}

	[JSInvokableAttribute(nameof(OnBeforeUnload))]
	public Task OnBeforeUnload()
	{
		BeforeUnload?.Invoke();
		return Task.CompletedTask;
	}

}
