@attribute [Route(WebRoutes.NotAuthorized)]
@layout MinimalisticLayout

<PageTitle>Access Denied</PageTitle>

<Background/>

<div class="row g-3 align-items-center justify-content-center">
	<div class="card card-form back-dark border-primary rounded-corners p-4 form-shadow-primary">
		<div class="card-body">

			<h2 class="text-white mb-2">Not Authorized</h2>

			<p>You don't have enough permission to enter this page</p>

			<a href="/" class="btn btn-outline-primary rounded-corners w-100 font-gray">To Home Page</a>
		</div>
	</div>
</div>
