@attribute [Route(WebRoutes.NotAuthorized)]
@layout MinimalisticLayout

<PageTitle>Access Denied</PageTitle>

<Background/>

<div class="gradient-panel card-form p-4 shadow-primary">
	<h2 class="text-white mb-2">Not Authorized</h2>

	<p>You don't have enough permission to enter this page</p>

	<p>
		Maybe this page requires to be subscribed. To subscribe, follow <a href="@WebRoutes.Manage.Subscription?returnUrl=@WebRoutes.Home">this link</a>
	</p>

	<a href="@WebRoutes.Home" class="button font-white">To Home Page</a>
</div>
