
<PageTitle>Not found</PageTitle>

<LayoutView Layout="@typeof(MinimalisticLayout)">

	<div class="d-flex flex-column">

		<div class="d-flex">
			<img src="/img/four-left.svg" class="in-front four-left" />

			<div class="outer-circle">
				<div class="inner-circle">
					<img src="/img/pause.svg" class="pause" />
				</div>
			</div>

			<img src="/img/four-right.svg" class="in-front four-right" />
		</div>

		<div class="d-flex flex-column justify-content-center align-items-center">
			<h1 role="alert" class="mt-2">Oops! Page not found</h1>
			<a href="/" class="btn btn-primary rounded-corners px-4 mt-2">Return to Home Page</a>
		</div>
	</div>
</LayoutView>

