@page "/payment/{selected}"
@using Domain.Entities
@layout MinimalisticLayout

@inject IJSRuntime JS

<RequireAuthorization />
<Background />

@*
<div class="row g-3 align-items-center justify-content-center">
	<div class="card card-form back-dark border-primary rounded-corners p-4 form-shadow-primary">
		<div class="card-body">
			<div id="paypal-button-container"></div>

			<div id="checkout-form">
				<div id="card-name-field-container"></div>
				<div id="card-number-field-container"></div>
				<div id="card-expiry-field-container"></div>
				<div id="card-cvv-field-container"></div>
				<button id="multi-card-field-button" type="button">Pay now with Card Fields</button>
			</div>
		</div>
	</div>
</div>
*@

@if (Loaded)
{
	<div class="gradient-panel card-form form-shadow-primary p-4">

		<h2>Chose Payment Method</h2>

		<input id="selected-subscription" type="hidden" value="@Selected" />
		<div id="paypal-button-container" class="mt-3"></div>
	</div>
}

@code {

	[Parameter]
	public string Selected { get; set; } = string.Empty;

	private List<string> Subscriptions { get; set; } = [
		Subscription.Standart.Name,
		Subscription.Premium.Name,
	];

	private bool Loaded { get; set; } = false;

	protected override void OnInitialized()
	{
		if (Subscriptions.Contains(Selected) is false)
		{
			Loaded = true;
		}
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
			await JS.InvokeVoidAsync("initializePayPal");
	}
}
