@page "/test"
@layout ProfileLayout

@using Domain.Entities

@inject IIdentityService IdentityService
@inject ITitleService TitleService

<AuthorizeView>
	<Authorized>
		<span>@context.User.IsInRole(Role.User)</span>
		<span>@context.User.IsInRole(Role.Moderator)</span>
		<span>@context.User.IsInRole(Role.Admin)</span>
	</Authorized>
</AuthorizeView>

@code {
	private User User { get; set; } = default!;

	private List<Title> Titles { get; set; } = default!;

	protected override async Task OnInitializedAsync()
	{
	}
}
