@attribute [Route(WebRoutes.Accounts.Profile.Favourites)]
@layout ProfileLayout

@using Domain.Entities

@inject IIdentityService IdentityService

<h2 class="mb-3">Favourites</h2>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
	@foreach (var title in Titles)
	{
		<div class="col d-flex justify-content-center mt-2">
			<TitleCard Title="title" />
		</div>
	}
</div>

@code {
	private List<Title> Titles { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		var favouriteTitlesResult = await IdentityService.GetFavouriteTitlesAsync();

		if (favouriteTitlesResult.IsFound)
		{
			Titles = favouriteTitlesResult.AsFound;
		}
	}
}