@attribute [Route(WebRoutes.My.History)]
@layout ProfileLayout

@using Domain.Entities

@inject IIdentityService IdentityService
@inject NavigationManager NavigationManager

<RequireAuthorization/>

<h2>History</h2>

<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5">
	@foreach (var group in ViewRecords.GroupBy(x => x.Title.Id))
	{
		var title = ViewRecords.Select(x => x.Title).First(x => x.Id == group.Key);
		var record = group.OrderBy(x => x.Time).Last();

		<a href="@WebRoutes.Titles.Base/@record.Title.Slug?seriesId=@record.Series.Id&progress=@(record.PercentProgress)">
			<div class="col d-flex flex-column justify-content-center align-items-center mt-2">
				<div class="w-100" style="pointer-events: none;">
					<ResponsiveTitleCard Title="title" />
				</div>

				<span class="font-sm font-gray">@record.Series.Name</span>

				<progress class="mt-1 w-100" value="@(record.PercentProgress)" min="0" max="100" />
			</div>
		</a>
	}
</div>

@code {
	private List<ViewRecord> ViewRecords { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		var result = await IdentityService.GetViewRecordsAsync();

		if (result.IsFound is false)
			return;

		ViewRecords = result.AsFound;
	}
}
