@attribute [Route(WebRoutes.ConfirmEmail)]
@layout MinimalisticLayout

@inject NavigationManager NavigationManager
@inject IIdentityService IdentityService

<Background />

<div class="row g-3 align-items-center justify-content-center">
	<div class="card card-form back-dark border-primary rounded-corners p-4 form-shadow-primary">
		<div class="card-body">

			<h2 class="text-white mb-2">Email Confirmation</h2>

			@if (Message is not null)
			{
				<div>@Message</div>
			}

			@if (IsSuccess)
			{
				<p>You have successfully verified your email.</p>

				<p>To continue, log in to your account using the link below</p>

				<a href="@WebRoutes.Login?returnUrl=@WebRoutes.Manage.Profile" class="btn btn-outline-primary rounded-corners w-100 font-gray">Login</a>
			}

		</div>
	</div>
</div>

@code {

	private string? Message { get; set; }

	private bool IsSuccess { get; set; }

	[SupplyParameterFromQuery]
	private string? UserId { get; set; }

	[SupplyParameterFromQuery]
	private string? Code { get; set; }

	protected override async Task OnInitializedAsync()
	{
		if (UserId is null || Code is null)
		{
			Message = "Oops! Something went wrong";
			return;
		}

		var result = await IdentityService.ConfirmEmailAsync(UserId, Code);

		if (result.IsFailed)
		{
			Message = "Oops! Something went wrong while processing your request";
			return;
		}

		Message = "Success";
		IsSuccess = true;
	}
}
