
#credit-card-number {
    background-color: var(--dark);
    border: 1px solid var(--primary);
    border-radius: 20px;
}

.css-aezqgw-button-Button {
    background-color: var(--dark);
}

#button {
    background-color: var(--primary);
}