@inherits LayoutComponentBase

<div class="page">
    <main class="bg-none">

        <div class="top-row">
            <MinimalisticHeader />
        </div>

        <article class="content responsive-padding container">
            @Body 
        </article>

        <div class="footer-container">
            <Footer />
        </div>
    </main>
</div>
