@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="bg-none">
        <div class="top-row">
            <MainHeader></MainHeader>
        </div>

        <article class="content responsive-padding container">
            @Body
        </article>

        <Footer />
    </main>
</div>
