@inherits LayoutComponentBase

<div class="page">
    <main class="bg-none">
        <article class="content px-4 container">
            <div class="page-container">
                @Body
            </div>
        </article>


        <Footer />

    </main>
</div>
