@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="bg-none">

        <HeaderMargin/>

        <article class="content px-4 container">
            <div class="profile-page-container">
                @Body
            </div>
        </article>


        <Footer />

    </main>
</div>
