@using Domain.Entities

@inject IIdentityService IdentityService
@inject ITitlesListService TitlesListService

<ModalWindow @ref="Window">

	<div class="gradient-panel card-form p-3" @onclick:stopPropagation="true">
		<h2>Create Session</h2>

		@{
			string url = $"{WebRoutes.Sessions.Base}/{Title.Slug}/{Id}";
		}

		<span class="mt-3">
			Link: 
			<a href="@(url)">
				@(url)
			</a>
		</span>

		<a href="@(url)" class="button mt-3 font-white">Create</a>
	</div>

</ModalWindow>

@code {

	[Parameter]
	public Title Title { get; set; } = default!;

	private Guid Id { get; set; } = Guid.NewGuid();

	private ModalWindow Window { get; set; } = default!;

	public void Open() => Window.Open();

	public void Close() => Window.Close();
}