

@if (IsOpened)
{
	<div class="full-screen" @onclick="() => InternalClose()">
		@ChildContent
	</div>
}


@code {

	[Parameter]
	public RenderFragment ChildContent { get; set; } = default!;

	[Parameter]
	public bool CloseOnBackgroundClick { get; set; } = true;

	private bool IsOpened { get; set; } = false;

	public void Open()
	{
		IsOpened = true;
		StateHasChanged();
	}

	public void Close()
	{
		IsOpened = false;
		StateHasChanged();
	}

	private void InternalClose()
	{
		if (CloseOnBackgroundClick)
			Close();
	}
}