

<div>
    <nav class="navigation">
        <div class="nav-item">
            <NavLink class="nav-link" href="@WebRoutes.Dashboard.Home" Match="NavLinkMatch.All">
                <img class="nav-icon" src="/img/nav-home.svg" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="@WebRoutes.Dashboard.Users">
                <img class="nav-icon" src="/img/peoples.svg" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="@WebRoutes.Dashboard.Titles">
                <img class="nav-icon" src="/img/player-play.svg" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="@WebRoutes.Dashboard.Series">
                <img class="nav-icon" src="/img/player-hide-series.svg" />
            </NavLink>
        </div>
    </nav>
</div>