@using Domain.Entities
@attribute [Route(WebRoutes.Dashboard.Home)]
@layout DashboardLayout

<RequireRole Role="@Role.Admin" />

<div class="page-container">
	<h1>Welcome to Dashboard</h1>
</div>

@code {

}
